name: Aggiorna lista progetti

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * *"

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Aggiorna lista progetti nel README
        uses: jamesives/github-activity-readme@v0.4.0
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAX_REPOS: 5

      - name: Commit finale
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add README.md
          git commit -m "Aggiornamento automatico progetti" || echo "Nessuna modifica"
          git push
