name: GitHub Metrics

on:
  schedule:
    - cron: "0 9 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: bobmoukhlis-hash
          template: classic
          base: header, repositories
          plugin_repositories: yes
          plugin_repositories_featured: yes
          plugin_repositories_pinned: yes
          plugin_repositories_order: stars
          plugin_repositories_limit: 6
